@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


body{
	margin: 0 0;
	padding: 0 0;
	background-color: #FFFAFA;
}
nav{
	width: 100%;
	height: 70px;
	background-color: #474747;
	position: fixed;
	left: 0;
	top: 0;
	transition: $ease;
	z-index: 9999;
}
.sticky{
	height: 50px;
}
.inNav{
	float: left;
}
#logoWrapper{
	width: 12%;
	/*border: solid blue;*/
	padding-top: .5%;
	height: 90%;
	padding-left: 7%;

}
#navWrapper{
	width:80%;
}
.navOptions{
	width: 100%;
	margin-top: 25px;
	height: 30px;
	font-size: 20px;
	transition: $ease;
}
.stickyOptions{
	margin-top: 15px;
	font-size: 15px;
}
.navOptions li{
	display: inline-block;
	width: 19%;
	margin: 0;
	padding: 0;
	transition: $ease;
}

.navOptions li a{
	color: white;
	text-decoration: none;
}

.navOptions li a:hover{
	color: #FF0000;	
}

.mainLogo{

	width: 70px;
	height: 55px;
	transition: $ease;

}
.stickyLogo{
	width: 45px;
	height: 35px;
}
header{
	// position: relative;
	margin-top: 70px;
	width: 100%;
	height: 90vh;
	background: url("../images/wood.jpg");
	background-attachment:fixed;
	background-position: center center;
	background-size: cover;
	opacity: 0;
	@include animation(fadein,2s,forwards);
}
@keyframes fadein {
    0%   {opacity: 0.25;}
    25%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadein {
    0%   {opacity: 0.25;}
    25%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}

@-moz-keyframes fadein {
    0%   {opacity: 0.25;}
    25%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}

#dynamicText{
	position: absolute;
	color: white;
	font-size: 28px;
}

#searchBox{
	position: absolute;
	top: 50px;
	left: 50px;
	height: 50px;
	width: 400px;
}


#Mission{
	width: 100%;
	height: 400px;
}

#MissionTitle{
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 30px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 50px;
	font-family: $subHeadingFont;
}

.collumn {
	width: 33.33%;
	height: 100%;
	position: relative;
	float: left;
	margin-top: 20px;
}

.missionSubtitle {
	font-size: 19px;
	color: rgb(46, 59, 78);
	text-align: center;
	font-family: $smallTextFont;
}

.imageWrapper {
	width: 100px;
	height: 220px;
	margin: 20px auto 0px;
	position: relative;
}
.imageWrapper img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.imageWrapper #iphoneLogo {
	position: absolute;
	top: 80px;
	left: 30px;
	width: 40px;
	height: 30px;
}

#imageWrapper2 {
	width: 200px;
}

#imageWrapper3 {
	width: 90px;
}

#imageWrapper3 h3 {
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 12px;
}

#imageWrapper3 h4 {
	position: absolute;
	top: 60px;
	left: 10px;
	font-size: 8px;
}

/*Business*/
#Businesses {
	height: 450px;
	width: 100%;
	position: relative;	
}

#bHeading {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 28px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 20px;
	font-family: $headingFont;
}


#carasol {
	position: relative;
	height: 400px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.slide {
	position: relative;
	width: 100%;
	float: left;
	height: 400px;
	margin: 0px;
	padding: 0px;
}
#slide1 {
	// background-color: red;
}

#slide2 {
	// background-color: orange;
}

#slide3 {
	// background-color: black;
}

.slide h1{
	text-align: center;
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 22px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 20px;
	font-family: $subHeadingFont;
}

.slide .slidePicWrapper{
	position: relative;
	margin: 0 auto 0 auto;
	margin-top: 20px;
	height: 300px;
	width: 500px;
	background-color: grey;
	@include border-radius(25px);

}

#slidePicWrapper3{
	background-color: black;
}

.ipadImage{
	height: 100%;
	width: 100%;;
}
.ipadInfo{
	position: absolute;
	top: 15px;
	left: 55px;
	width:393px;
	height: 264px;
	// border: solid blue;
	z-index: 30;
}
#ipadLogo{
	width: 70px;
	height: 50px;
	position: absolute;
	left: 150px;
	top: 30px;

}
#bussinessLogin{
	position: absolute;
	left: 70px;
	top: 90px;
}
#interactImage{
	width:  100%;
	height: 100%;
}

#bizVideo{
	width:  100%;
	height: 100%;
}
.leftArrowBox{
	position: absolute;
	top: 175px;
	left: 10px;
	font-size: 30px;
}
.rightArrowBox{
	position: absolute;
	top: 175px;
	right: 10px;
	font-size: 30px;
	// border: solid blue;
}
.fa:hover{
	// width:100px;
	font-size: 50px;
}

#theTeam{
	width: 100%;
	height: 700px;
}
#teamTitle {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 28px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 50px;
	font-family: $headingFont;
}

#teamSubTitle {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 19px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 5px;
	font-family: $subHeadingFont;
}

.teamCollumn {
	position: relative;
	float: left;
	width: 48%;
	height: 500px;
}
.employee {
	margin: 14px auto 0px;
	height: 210px;
	width: 50%;
	@include border-radius(25px);
}
.employeeName {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 20px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 5px;
	font-family: $smallTextFont;
}

.employeePictureWrapper {
	margin: 10px auto 0px;
	height: 150px;
	width: 150px;
	@include border-radius(50%);
}

.employeePicture {
	width: 100%;
	height: 100%;
	@include border-radius(50%);
	// border: solid red;
}
.employeePicture:hover{
	@include animation(spin,1s,"");

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }


.modalEmployee {
	position: fixed;
	top: 200px;
	left: 0px;
	height: 150px;
	width: 400px;
	z-index: 9997;
	visibility: hidden;
	@include border-radius(40px);
	background-color: #000000;
	color: white;
}
.exitModal {
	position: absolute;
	top: 5px;
	left: 350px;
	z-index: 3;
}

.descriptionWrapper {
	position: absolute;
	height: 150px;
	width: 340px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

#subscriptionForm {
	width: 100%;
	background-color: rgb(181, 181, 183);
	height: 400px;
	position: relative;
}

.inSub {
	position: relative;
	color: $smoothGrey;
	float: left;
	width: 49%;
	height: 400px;
}

#subFormWrapper {
	position: absolute;
	top: 30px;
	left: 100px;
	width: 320px;
	height: 300px;
}

#subscribeText {
	color: rgb(64, 64, 64);
	font-size: 16px;
	line-height: 1.75em;
	font-family: $textFont;
	margin-bottom: 15px;
}

#subFormWrapper input {
	height: 20px;
	width: 300px;
	margin-bottom: 10px;
}

.btn {
	height: 20px;
	width: 80px;
	background: linear-gradient(rgb(5, 5, 5), rgb(9, 10, 10)) rgb(5, 5, 5);
	-webkit-box-shadow: rgb(102, 102, 102) 0px 1px 3px;
	box-shadow: rgb(102, 102, 102) 0px 1px 3px;
	font-family: Arial;
	color: rgb(255, 255, 255);
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	margin-left: 100px;
}

#subTextWrapper {
	height: 300px;
	width: 400px;
	color: $smoothGrey;
	font-size: 16px;
	line-height: 1.75em;
	font-family: $textFont;
	position: absolute;
	top: 30px;
	left: 30px;
}

#subscriptHeading {
	color: black;
	font-size: 36px;
	line-height: 1.75em;
	font-family: $headingFont;
}

h4 {
	font-family: $smallTextFont;
}

#iconWrapper {
	position: relative;
	width: 300px;
	height: 100px;
}

#subFormWrapper h1 {
	font-family: $subHeadingFont;
	font-size: 19px;
}
#subFormWrapper input {
	height: 20px;
	width: 300px;
	margin-bottom: 10px;
	font-family: $smallTextFont;
}
.icon {
	width: 24%;
	height: 100%;
	position: relative;
	float: left;
}

.icon .fa{

	font-size: 50px;
}

.icon .fa:hover{

	font-size: 75px;
	color: white;

}

footer {
	width: 100%;
	height: 400px;
	background-color: rgb(64, 64, 73);
	position: relative;
	border-color: solid blue;
}

.inFooter {
	position: relative;
	float: left;
	height: 100%;
	/*border: solid red;*/
}

#linksWrapper {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50px;
	left: 50px;
}

#footer2 {
	width: 50%;
}

#footer2 h1 {
	font-family: $headingFont;
	font-size: 15px;
}

#footer2 h2 {
	font-family: $textFont;
	text-decoration: none;
}

#footer3 {
	width: 45%;
}

.linkText {
	font-size: 15px;
	line-height: 1.75em;
	font-family: $textFont;
	text-align: center;
}

.linkText a {
	color: white;
	font-weight: 500;
}

a {
	text-decoration: none;
}

#contactInfoWrapper {
	position: relative;
	height: 150px;
	width: 250px;
	margin: 0 auto 0 auto;
	margin-top: 130px;
}

#contactFormWrapper {
	// position: absolute;
	position: relative;
	margin: 0 auto 0 auto;
	margin-top: 50px;
	height: 300px;
	width: 320px;
}

#contactHeading {
	color: white;
	font-size: 20px;
	line-height: 1.75em;
	font-family: $headingFont;
}

.form{
	background-color: $lightGrey;
	border: none;
	height: 30px;
	margin-top: 5px;
	
}

#textBox {
	background-color: $lightGrey;
	width: 300px;
	height: 100px;
	margin-top: 5px;
	border: none;
}

input[type="text"]
{
    font-size:10px;
    font-family: "Century Gothic"
}

.btn2 {
	background: linear-gradient(rgb(199, 18, 18), rgb(247, 17, 17)) rgb(199, 18, 18);
	font-family: Arial;
	color: rgb(255, 255, 255);
	font-size: 14px;
	padding: 10px 20px;
	text-decoration: none;
	width: 100px;
	margin-top: 10px;

}

